# Garbage Files
.DS_Store
*/.DS_Store
__pycache__/
*/__pycache__/

# Datasets
/data/
*/data/

# Bottlenecking Features
*.npz
/*.npz

# Saved Model States & Subdirectories
*.hdf5
*/*.hdf5
models/
*/models/